.fondo{
    background-repeat: none;
    background-image: url(Fondo.png);
    background-size: 100%;
}
.bot1{
    background-repeat: no-repeat;
    background-image: url(Crear.png);
    background-size: 100%;
    width: 85%;
    height: 10%;
    margin-top:30%;
    margin-left:7%;
}
.bot2{
    background-repeat: no-repeat;
    background-image: url(Entrar.png);
    background-size: 100%;
    width: 85%;
    height: 10%;
    margin-left:7%;
}
